<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <title>Hello - Chapter 3</title>
    <link rel='stylesheet' href='/static/css/jquery-ui.css'>
    <script src='/static/js/jquery-1.4.2.js'></script>
    <script src='/static/js/jquery-ui-1.8.4.custom.min.js'></script>
    <script src='/static/js/strophejs-1.0.2/strophe.js'></script>
    <script src='/static/js/strophejs-1.0.2/plugins/strophe.flxhr.js'></script>
    <script src='/static/js/flXHR-1.0.6/flensed-1.0/deploy/flXHR.js'></script>
    <link rel='stylesheet' href='/static/css/hello.css'>
    <script src='/static/js/hello.js'></script>
</head>
<body>

    <h1>Hello</h1>
    <div id='status_log'>
    </div>
    
    
    <!--contacts  -->
    <div id="user_contacts" class="hidden">
        <a href="#" id="contacts_link">contacts</a>
        <ul id="contact_list" class="hidden">
           <li><a href="#" class="user_contact" >kurt.campher@synthasite.com</a></li> 
        </ul>    
    </div>
    <!-- End of contacts-->
    
    
    <!--The chat area-->
    <div id="full_chat_area">
        <div id="user_chat_area">
            <div id='msg_log' class="msg_log">
            </div>
            <form id="chat_form" class="hidden">
                <input id="chat_input" />
            </form>
        </div>    
    </div>
    <!-- End of the chat area-->
       
    
    <!-- login dialog -->
    <div id='login_dialog' class='hidden'>
        <label>JID:</label><input type='text' id='jid' value='campherkurt2@gmail.com'>
        <label>Password:</label><input type='password' id='password' value='thirteen'>
    </div>
    <!-- End of the chat area-->
</body>
</html>