body {
font-family: Helvetica;
}
h1 {
text-align: center;
}
.hidden {
display: none;
}

#log {
padding: 10px;
}

.user_chat_area {
    position: absolute;
    left: 20px;
    top: 200px;
    width: 200px;
    height: 320px;
    z-index: 5;
}

.msg_log {
    overflow: auto;
    width: 200px;
    height: 300px;
    white-space: normal;
}

#user_contacts {
    position: absolute;
    top: 120px;
    left: 20px;
    z-index: 10;
}

.new {
    border: 2px dashed red; 
}

#current_chats {
    border: 2px dashed green;
    position: absolute;
    top: 120px;
    left: 450px;
}

